# .coveragerc to control coverage.py
[run]
source = .
omit =
    setup.py
    tests/*
    exporter/*

[report]
exclude_lines =
    pragma: no cover
    pass

ignore_errors = True

[html]
directory = coverage_report